<!-- 
<div class="container mx-auto" >
  <div class="wrapper  antialiased text-gray-900 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
<section class="bg-gray-50 ">
	<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
		<div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0  ">
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
					зарегистрироваться
				</h1>
				<form class="space-y-4 md:space-y-6" action="#">
					<div>
						<label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your email</label>
						<input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5      " placeholder="name@company.com" required="" #email>
					</div>
					<div>
						<label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
						<input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5      " required="" #password>
					</div>
					<button type="submit" class="w-full text- bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center   " (click)="signUp(email.value, password.value)">sign up</button>
					
				</form>
			</div>
		</div>
	</div>
  </section>
</div>
</div> -->

<div class="w-screen flex justify-center items-center
from-purple-700 to-amber-700">
   <form class="p-10 bg-white rounded-xl drop-shadow-lg space-y-5" action="">
	   <h1 class="text-center text-3xl">зарегистрироваться</h1>
	   <div class="flex flex-col space-y-2">
		   <label class="text-sm font-light" for="email">Email</label>
		   <input class="w-96 px-3 py-2 rounded-md border border-slate-400" type="email" placeholder="Your Email"
			   name="email" id="email" #email>
	   </div>
	   <div class="flex flex-col space-y-2">
		   <label class="text-sm font-light" for="password">Password</label>
		   <input class="w-96 px-3 py-2 rounded-md border border-slate-400" type="password"
			   placeholder="Your Password" name="password" id="password" #password>
	   </div>


	   <button (click)="signUp(email.value, password.value)" class="w-full px-10 py-2 bg-black text-white rounded-md
	   hover:bg-black hover:drop-shadow-md duration-300 ease-in" type="submit">
		   Sign In
	   </button>

   </form>
</div> 