<!-- <div class="container mx-auto">
  <div class="wrapper antialiased text-gray-900 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
	<div class="disp">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
		<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
	  </svg>
	  
<div class="flex p-6 font-mono">
	<div class="flex-none w-48 mb-10 relative z-10 before:absolute before:top-1 before:left-1 before:w-full before:h-full before:bg-stone-900">
	  <img [routerLink]="['/sneakers', sneaker.id]" class="absolute z-10 inset-0 w-full h-full object-cover rounded-lg" loading="lazy" [src]="sneaker.img"/>
	</div>
	<form class="flex-auto pl-6">
	  <div class="relative flex flex-wrap items-baseline pb-6 before:bg-black before:absolute before:-top-6 before:bottom-0 before:-left-60 before:-right-6">
		<h1 class="relative w-full flex-none mb-2 text-2xl font-semibold text-white">
			title: {{ sneaker.title }}
		</h1>
		<div class="relative text-lg text-white">
			price: {{ sneaker.price }}
		</div>
		<div class="relative uppercase text-teal-400 ml-3">
		  desc: {{ sneaker.desc }}
		</div>
	  </div>
	  <div class="flex items-baseline my-6">
		<div class="space-x-3 flex text-sm font-medium">
		  <label>
			<input class="sr-only peer" name="size" type="radio" value="36" checked (change)="handleChange($event)" />
			<div class="relative w-10 h-10 flex items-center justify-center text-black peer-checked:bg-black peer-checked:text-white before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
			  36
			</div>
		  </label>
		  <label>
			<input class="sr-only peer" name="size" type="radio" value="37" (change)="handleChange($event)" />
			<div class="relative w-10 h-10 flex items-center justify-center text-black peer-checked:bg-black peer-checked:text-white before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
			  37
			</div>
		  </label>
		  <label>
			<input class="sr-only peer" name="size" type="radio" value="38" (change)="handleChange($event)" />
			<div class="relative w-10 h-10 flex items-center justify-center text-black peer-checked:bg-black peer-checked:text-white before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
			  38
			</div>
		  </label>
		  <label>
			<input class="sr-only peer" name="size" type="radio" value="39" (change)="handleChange($event)" />
			<div class="relative w-10 h-10 flex items-center justify-center text-black peer-checked:bg-black peer-checked:text-white before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
			  39
			</div>
		  </label>
		  <label>
			<input class="sr-only peer" name="size" type="radio" value="40" (change)="handleChange($event)" />
			<div class="relative w-10 h-10 flex items-center justify-center text-black peer-checked:bg-black peer-checked:text-white before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
			  40
			</div>
		  </label>
		</div>
	  </div>
	  <div class="flex space-x-2 mb-4 text-sm font-medium">
		<div class="flex space-x-4">
		 
		  
		  <button (click)="addToCart(sneaker.id)" class="hover:bg-teal-400 px-6 h-12 uppercase font-semibold tracking-wider border border-slate-200 text-slate-900" type="button">
			Add to bag
		  </button>
		
		</div>
	  </div>
	  
	</form>
	  </div>
	</div>
	  </div>
  </div> -->
<!-- 
  <p *ngFor="let alert of alerts">
	<ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
	<button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p> -->





<!-- component -->
<section class="text-gray-700 body-font overflow-hidden bg-white">
	<div class="container px-5 py-24 mx-auto">
		<div class="flex items-center text-gray-500 hover:text-gray-600 cursor-pointer">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left text-black" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<polyline points="15 6 9 12 15 18" />
			</svg>
			<a href="/products"><p class="text-sm pl-2 leading-none text-black">Back</p> </a>
		</div>
	  <div class=" mx-auto flex justify-center flex-wrap">
		<img alt="ecommerce" class="lg:w-1/4 h-auto w-full object-cover object-center rounded border border-gray-200" [src]="sneaker.img">
		<div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
		  <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2>
		  <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ sneaker.title }}</h1>
		  <div class="flex mb-4">
		  </div>
		  <p class="leading-relaxed">{{ sneaker.desc }}</p>
		  <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
			<div class="flex ml-6 items-center">
			  <span class="mr-3">Size:</span>
			  <div class="relative">
				<div class=" space-x-3 flex text-sm font-medium">
					<label>
					  <input class="sr-only peer" name="size" type="radio" value="36" checked (change)="handleChange($event)" />
					  <div class=" cursor-pointer relative w-10 h-10 flex items-center justify-center text-black peer-checked:bg-black peer-checked:text-white before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
						36
					  </div>
					</label>
					<label>
					  <input class="sr-only peer" name="size" type="radio" value="37" (change)="handleChange($event)" />
					  <div class=" cursor-pointer relative w-10 h-10 flex items-center justify-center text-black peer-checked:bg-black peer-checked:text-white before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
						37
					  </div>
					</label>
					<label>
					  <input class="sr-only peer" name="size" type="radio" value="38" (change)="handleChange($event)" />
					  <div class=" cursor-pointer relative w-10 h-10 flex items-center justify-center text-black peer-checked:bg-black peer-checked:text-white before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
						38
					  </div>
					</label>
					<label>
					  <input class="sr-only peer" name="size" type="radio" value="39" (change)="handleChange($event)" />
					  <div class=" cursor-pointer relative w-10 h-10 flex items-center justify-center text-black peer-checked:bg-black peer-checked:text-white before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
						39
					  </div>
					</label>
				  </div>
			  </div>
			</div>
		  </div>
		  <div class="flex">
			<span class="title-font font-medium text-2xl text-gray-900">{{ sneaker.price }}</span>
			<button (click)="addToCart(sneaker.id)" class="flex ml-auto text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-black rounded">BUY NOW</button>
			
		  </div>
		</div>
	  </div>
	</div>
  </section>